h2 {
	margin-top: 0;
	padding-top: 0;
	font-weight: bold;
}

#map-canvas {
	margin: 10px; 
	border: 2px solid green;
	width:700px;
	height:500px; 
}
#legend {
    background: #FFF;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#legend p {
    font-weight: bold;
    margin-top: 3px;
}
#legend div {
    clear: both;
}
#menu-accordion{
    float: right;
	margin: 10px;
	width: 350px;
}

.accordion-category{
	font-size: 15px;
	font-weight: 400;
	font-family: 'PT Sans Caption',sans-serif;
	color: #fff;
	background: url(./images/corner-green-right-top.png) no-repeat top right #7ac142;
	padding: 10px 25px 10px 15px;
	margin: 0;
	margin-bottom:10px;
	cursor: pointer;
	cursor: hand;
}

.accordionCategoryOpen{
	background: url(./images/corner-green-right-top_close.png) no-repeat top right #7ac142;
}

.accordion-category-closed{
	background: url(./images/corner-green-right-top.png) no-repeat top right #7ac142;
}

.accordion-category:hover{
	background:url(./images/corner-purple-right-top.png) no-repeat top right #63619a;
}

#menu-accordion  a{
	color: #fff;
	text-decoration: none;
}
#menu-accordion #visualization {
	padding: 0px;
	margin: 0;
}
#menu-accordion .inner {
	padding-left: 20px;
}
#menu-accordion .inner  h3{
	padding: 5px;
	font-size: 14px;
	font-weight: 200;
	background: url(./images/corner-purple-right-top.png) no-repeat top right #63619a;
}

#main-nav ul#menu-primary-navigation>li>a {
	height: 72px;
}

thead tr {
	background-color: #EEEEEE;
}

thead tr th {
	font-weight: bolder;
}

#featureTable th, #featureTable td {
	padding-right: 2.0em;
}

.ui-dialog {
	opacity: 1.0;
	background-color: white;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-titlebar {
	background: url(./images/corner-green-right-top.png) no-repeat top right #7ac142;

	opacity: 0.6;
	padding: .5em;
	font-size: 14pt;
}

.mapWithAttributes {
	height: 35em !important;
	padding-bottom: 10px;
}

.mapWithoutAttributes {
	height: 50em !important;
	padding-bottom: 10px;
}

.attributesShown {
	height: 15em;
	overflow: auto;
}

.attributesHidden {
	overflow: none;
	height: 2em;
}

#loadingScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: +15;
}

#navIcon {
  position: absolute;
  bottom: -5px;
  right: 90px;
  width: 40%;
  height: 5%;
  background-color: null;
  opacity: 1;
  z-index: +15;
}
