#map-canvas {
	margin: 10px; 
	border: 2px solid green;
	width:700px;
	height:500px; 
}
#legend {
    background: #FFF;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#legend p {
    font-weight: bold;
    margin-top: 3px;
}
#legend div {
    clear: both;
}
#menu-accordion{
    float: right;
	margin: 10px;
	width: 350px;
}
#menu-accordion h3 {
	color: #fff;
}
#menu-accordion .acord  h3{
	padding: 5px;
	font-size: 14px;
	font-weight: 200;
	background: url(./images/corner-purple-right-top.png) no-repeat top right #63619a;
}
#menu-accordion .inner  h3{
	padding: 3px;
	font-size: 14px;
	font-weight: 200;
	background: url(./images/corner-green-right-top.png) no-repeat top right #7ac142;
}
.accordion-contents {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-left: -27px;
}
.accordion-category{
	font-size: 15px;
	font-weight: 400; 
	font-family: 'PT Sans Caption',sans-serif;
	color: #fff;
	background: url(./images/corner-green-right-top.png) no-repeat top right #7ac142;
	padding: 10px 25px 10px 15px;
	margin: 0;
	margin-bottom:10px;
}
.accordion-category:hover{
	background:url(./images/corner-purple-right-top.png) no-repeat top right #63619a;
}
.accordion-contents {
	margin-bottom: 10px;
}
.accordion-contents a{
	margin-top: 5px;
}